# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.covidtracker.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Vinay\Desktop\covidtracker\.idea\.idea.covidtracker.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
