body {
    margin: 0;
}

.container {
    display: flex;
    min-height: 500px;
    background-color: #333;
    color: whitesmoke;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("img/covid.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.summary {
    display: flex;
    justify-content: center;
    min-height: 500px;
    color: whitesmoke;
    background-color: black;
    flex-direction: column;
}

.TopCountries {
    display: flex;
    color: whitesmoke;
    background-color: black;
    min-height: 500px;
    border-top: 1px solid white;
    align-items: center;
    flex-direction: column;
}

.countries {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.TopCountries h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 70px;
}

.TopCountries h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.TopCountries h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.country-box {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 300px;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    transition: all 1s;
    margin-bottom: 40px;
    align-items: center;
    margin-right: 40px;
}

.country-box:hover {
    transform: scale(1.1);
}

.summary h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 70px;
}

.summary h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.summary h3 {
    display: flex;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.newconfirmed {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.totalconfirmed {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newdeaths {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.totaldeaths {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newrecovered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.totalrecovered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 100px;
}

.box {
    display: flex;
    background-color: #d46565;
    width: 150px;
    justify-content: center;
    border-radius: 30px;
    transition: all 1s;
}

.box:hover {
    transform: scale(1.2);
}

.img {
    height: 100px;
    width: 100px;
}